* {
    padding: 0;
    margin: 0;
}

.yellows {
    margin-top: 3pc;
    background-color: #f1ae0e;
    height: 95vh;
}

.whitey {
    background-color: white;
    height: 80vh;
    margin-top: 3pc;
    border-radius: 2pc;
}

.plate1 {
    height: 71vh;
    border-radius: 2pc;
    width: 89vh;
    margin-top: -27pc;
    margin-left: 35pc;
}

.h5 {
    font-size: 1.75pc;
    margin-left: -50pc;
    margin-top: 1pc;
}

.h36 {
    color: black;
    margin-top: 2pc;
    margin-left: 3pc;
}

.p38 {
    color: black;
    margin-left: 2pc;
    font-size: 1.15pc;
}

#sk {
    width: 19%;
    height: 4pc;
    border-radius: 3pc;
}

.down {
    margin-top: 2pc;
    margin-bottom: 2pc;
}

.middle {
    width: 19pc;
    margin-left: 4pc;
    margin-top: 1pc
}

.sideways {
    height: 32pc;
    width: 27pc;
    border-radius: 2pc;
}

.mid{margin-left: 7pc;
    margin-top: 1pc;
}

.paragraph{margin-left: 2pc;
    color: black;}